@charset "UTF-8";
@import url('./swiper.css');
/* 초기화 */

* {
    margin: 0; padding: 0;
    font-family: Arial, 'san-serif';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

/* 헤더 */

#main_header {
    height: 80px;
    background: gray;
    color: rgb(173, 162, 162);
    position: relative;
}

#main_header a {
    color: black;
}

#main_header > .gnb_container {
    background: rgb(253, 223, 223, 0.3);
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 1;
}

#main_header > #gnb_sub_container {
    height: 100px;
    width: 46%;
    background: rgb(253, 223, 223, 0.3);
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    display: none;
    position: absolute;
    left: 550px;
    overflow: hidden;
}

#main_header > #gnb_sub_container > .lnb {
    width: 158px;
    float: left;
    padding-left: 17px;
} 


#main_header > .gnb_container > .gnb_menu  {
    position: relative;
}

#main_header .logo {
    float: left;
    position: absolute;
    margin-top: 20px;
    left: 80px;
}

#main_header ul.nav {
    float: left;
    position: absolute;
    left: 800px;
    overflow: hidden;
    padding-left: 10px;
    margin-top: 10px;
    font-weight: bold;
}

#main_header ul.nav > li {
    float: left;
    left: 500px;
    padding: 22px 17px;
}

#main_header ul.nav > li > a {
    line-height: 30px;
}

#main_header ul.nav > li > a:after {
    display: none;
    /* width: 70px; */
    content: '';
    border-bottom: solid 2px #141414;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

#main_header ul.nav > li > a:hover:after {
    transform: scaleX(1);
}

#main_header > .gnb_container > .gnb_menu .setting {
    float: right;
    width: 170px;
    text-align:left;
    padding-top: 25px;
    font-size: 22px;
    /* padding-right: 40px; */
}

#main_header .trigger {
    float: right;
    width: 45px;
    text-align: left;
    padding-top: 27px;
    display: none;
}

#main_header .trigger .close {
    display: none;
}

/* 하위메뉴 */
#main_header > ul.lnb {
    float: left;
    overflow: hidden;
    margin: 0 auto;
    padding-left: 20px;
    position: absolute;
    margin-top: 10px;
}

#main_header > ul.lnb > li {
    display: flex;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.appear {
    animation: fade-in 0.5s;
}

.disappear {
    animation: fade-out 0.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* 푸터 */

#main_footer {
    height: 170px;
    background: rgb(248, 246, 246);
    overflow: hidden;
}

#main_footer > .contact {
    width: 23%;
    float: left;
    left: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    border-right: 1px solid rgb(192, 188, 188);
}

#main_footer > .company {
    width: 38%;
    float: left;
    left: 20px;
    margin: 10px;
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
    border-right: 1px solid rgb(192, 188, 188);
}

#main_footer > .mall {
    width: 23%;
    float: left;
    left: 20px;
    margin: 10px;
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
}

/* 모바일 메뉴 */

#mobile_menu {
    display: none;
    background: rgb(204, 204, 204);
    color: black;
    height: calc(100vh - 60px);
    width: 100vw;
    position: relative;
    z-index: 2;
}

#mobile_menu a {
    color: black;
}

#mobile_menu > ul {
    display: block;
}


/* 미디어 쿼리 */

@media screen and (max-width: 767px) {
    #main_header {
        background: url("../img/425x450.jpg");
        background-size: cover;
    }

    #main_header .gnb, .lnb {
        width: 90vw;
    }

    #main_header ul.nav { 
        display: none;
    }

    #main_header .setting {
        display: none;
    }

    #main_header .trigger {
        display: block;
    }

    #main_footer {
        margin: 0;
        height: 300px;
        display: flex;

    }
    #main_footer .contact {
        flex-direction: column;
        font-size: 10px;
        width: 25%;

    }
    #main_footer .company {
        flex-direction: column;
        font-size: 10px;
        width: 38%;
    }
    #main_footer .mall {
        flex-direction: column;
        font-size: 10px;
        width: 25%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){ 
    #main_header {
        background: url("../img/768x450.jpg");
        background-size: cover;
    }

    #main_header .gnb, .lnb {
        width: 90vw;
    }
    #main_header ul.nav { 
        display: none;
    }

    #main_header .setting {
        display: none;
    }

    #main_header .trigger {
        display: block;
    }
    
}

@media screen and (min-width: 1024px) { 
    #main_header {
        background: url("../img/1024x450.jpg");
        background-size: cover;
    }

    #main_header .logo {
        float: left;
        position: absolute;
        margin-top: 20px;
        left: 4px;
    }
    #main_header ul.nav {
        float: left;
        position: absolute;
        left: 280px;
        overflow: hidden;
        padding-left: 20px;
        margin-top: 4px;
        font-weight: bold;
        width: calc(100% - 300px);
    }
    #main_header ul.nav > li {
        float: left;
        left: 200px;
        padding: 22px 50px;
    }

    #main_header > ul.lnb {
        float: left;
        overflow: hidden;
        margin: 0 auto;
        padding-left: 10px;
        position: absolute;
        margin-top: 10px;
        font-size: 12px;
    }
    #main_header > .gnb_container > .gnb_menu .setting {
        float: right;
        width: 140px;
        padding-top: 28px;
        font-size: 22px;
        /* padding-right: 10px; */
    }
    #main_header > .gnb_container {
        background: rgb(253, 223, 223, 0.3);
        height: 80px;
        width: 100%;
        position: relative;
        z-index: 1;
    }
        
    #main_header > #gnb_sub_container {
        height: 100px;
        width: 60%;
        background: rgb(253, 223, 223, 0.3);
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        z-index: 2;
            /* display: none; */
        position: absolute;
        left: 330px;
        overflow: hidden;
    }

    /* #main_header .gnb, .lnb {
        width: 960px;
    } */
}